<div class="row">
    <form class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 no-print jumbotron" name="formCertificado">
        <h3>Gerar Certificado</h3>
        <div class="form-group col-md-12">
            <label for="nome">Nome</label>
            <input class="form-control" type="text" id="nome" ng-model="certificado.nome" required>
        </div>
        <div class="form-group col-md-4">
            <label for="arte">Arte</label>
            <select class="form-control" id="arte" ng-model="certificado.arte" ng-change="filterGraduacao(certificado.arte)" ng-options="arte.nome for arte in artes" required>
                <option value="">Escolha a arte</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="graduacao">Graduação</label>
            <select class="form-control" id="graduacao" ng-model="certificado.graduacao" ng-options="graduacao.nome as graduacao.nome for graduacao in graduacoes" required>
                <option value="">Escolha a graduação</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="data">Data</label>
            <input class="form-control" type="date" id="data" ng-model="certificado.data" required>
        </div>
        <hr  class="row col-md-12" />
        <div class="form-group control col-md-12">
            <a href="#" class="btn btn-default" onclick="window.print()" ng-if="certificados.length > 0">Imprimir {{certificados.length}} Certificado(s)</a>
            <button type="submit" class="btn btn-primary pull-right" ng-click="addCertificado(certificado)" ng-disabled="formCertificado.$invalid">Adicionar</button>
        </div>
    </form>    
</div>
<div class="row">
    <div class="certificado {{certificado.arte.nome | lowercase}}" ng-repeat="certificado in certificados">
        <img ng-src="img/{{certificado.arte.imagem}}">
        <div class="nome">{{certificado.nome}}</div>
        <div class="faixa">{{certificado.graduacao}}</div>
        <div class="dia">{{certificado.data | date:"dd"}}</div>
        <div class="mes">{{certificado.data | date:"MM"}}</div>
        <div class="ano">{{certificado.data | date:"yyyy"}}</div>
    </div>
</div>
